body {
  background-color: #eee;
  margin: 0;
  position: relative;
  /* overflow: hidden; */
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#top-bar {
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  min-height: 200px;
  border-radius: 0.28571rem;
}

#drop-panel {
  background: white;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  min-height: 200px;
  border-radius: 0.28571rem;
}

#drop-panel header {
  padding-left: 10px;
  font-size: 12px;
}

.content {
  flex: 1;
}

#scroll-box {
  border: 0px solid #ccc;
  white-space: nowrap;
  overflow-x: scroll;
  min-height: 160px;
  border-radius: 0.28571rem;
}

#tile-container {
  display: inline-flex;
  min-height: 160px;
  min-width: 160px;
}

.tile-wrapper {
  width: 160px;
  height: 160px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tile {
  background-color: rgba(69, 69, 69, 0.4);
  background-image: url("../img/background.jpeg");
  background-size: cover;
  color: #42586b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
  width: 140px;
  height: 140px;
  cursor: move;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.tile.clone {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tile.dropped {
  background: cornflowerblue;
}

/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}